<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<style>


.nav {
  list-style-type:armenian;
 
  margin-top: -10px;
  
background-color: rgba(0,0,0,1);
position: relative;
width:98%;
margin-left: -10px;
margin-right: -10px;
height: 140px;
left: 0%;


}
body{
background-image: url("../static/bg1.jpg");



}
.design{
box-sizing: border-box;
position: relative;
border-style:solid;
 border-color:#333;
width: 75%;
height: 1000px;
background-color: rgba(0,0,0,1);
margin-left: auto;
text-decoration-color: aliceblue;
margin-top: 100px;
padding-top: -50px;
border-radius: 1.3rem;

}
.bg2{
padding-top: -50px;


}

li {
  float: right;
  font-size: 24px;
  margin-top: 88px;
  font-family: cursive;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  margin-left: 20px;
}

li a:hover {
  background-color: rgba(24, 208, 214, 0.479); 
  height: 20px; 

}

li a  :active{

background-color: rgb(202, 99, 8);

}
.logo{
width: 288px;
height: 298px;
border-radius: 135px;
margin-left: -39px;
top:5px


}

.content{
font-family: cursive;

color: aliceblue;


}
img{
   margin-top: 20px;
  margin-left: 70px;
  border-radius: 34px;
}
body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 .student{
    
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;

 float: left;
border-radius: 35px;

 }
 #student{

  background-color:rgba(208,157,31,1) ;



 }
 #new{

   text-align: center;
 }

 #teacher{
background-color:rgba(75,68,68,1)

 }
.login {
  background-color:rgba(208,157,31,1);
    border-radius: 34px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-left: 120px;

}

button:hover {
  opacity: 0.8;
}


.top{
    color: aliceblue;
    margin-left: 500px;
    margin-right: auto;
    font-size: larger;

    

}



.container {
  padding: 16px;
  color: #ccc;
}
.das{
text-align:center;
background-color: rgb(255, 255, 255);
height: 150px;
margin-top: -35px;

font-size: 60px;
font-family:Arial, Helvetica, sans-serif;
text-decoration: double;

}





    
</style>
<body>
    
    <ul class="nav">
        <!-- <li><a class="active" href="/Home">Home</a></li>
        <li><a href="/student_Register">Sign Up/Login</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/About">About</a></li> -->
        <img src="../static/logo.jpg" alt="logo" class="logo">
      </ul>d
      

      <h1 class="das"><br>DASHBOARD</h1>

      <div class ="design">
         
         
           
  
      <div class="top">
  <ul>
        Name:<%= name %><br>
        Email:<%= email %><br>
        student code::<%= num %><br>
    </ul>
  </div>

  <br>  <br>  <br>  <br>
    <form action=<%="/attendance/"+num %> method="post">
        <div class="top">

        give attendance
        <input type="number" name="attends" id="">
        
        <button type="submit">Add</button>
    </form>
</div>
<div class="top"> 
    <h1>List of classes</h1>
    <%= 'Teacher Code :----: Attendence' %>
    <% for(var i=0;i<1000;i++){ %>
        <br>
        <% if( myMap[num][i]>0){ %>
            <br>
        <%= i+" :-----------------------: "+ myMap[i][num]  %>
        <br>
    <% } %>
    <% } %> </div>
      </div>
</body>
</html>



