<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    
    
        <li><%= name %></li>
        <li><%= email %></li>
        <li>Teacher code::<%= num %></li>
  
    

    <h1>List of classes</h1>
    <li><%= 'SC A' %></li>
    <% for(var i=0;i<1000;i++){ %>
        <% if( myMap[i][num]>0){ %>
           
        <li><%= i+" "+ myMap[i][num]  %></li>
    <% } %>
    <% } %>
    
</body>
</html>



